---
import profileImage from '../assets/images/dambdev.webp'
const personalImageAlt = 'Logo de DambDev'
---

<article
  class='group flex flex-col lg:flex-row items-center gap-y-12 lg:gap-y-0 lg:gap-x-20 text-gray-700 dark:text-gray-300'
>
  <div
    class='[&>p:not(:last-child)]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-yellow-500 order-2 lg:order-1'
  >
    <p>
      Cuento con <strong>más de 1 año de experiencia</strong> creando aplicaciones web modernas.
    </p>
    <p>
      Fuera del código, disfruto explorando nuevas tecnologías, compartiendo conocimientos y
      contribuyendo a proyectos de código abierto.
    </p>
    <p>
      Mi especialidad es el desarrollo con <strong>React y Astro</strong> en frontend, combinado con
      <strong>Node.js y bases de datos SQL</strong> en backend.
    </p>
    <p>
      Busco constantemente proyectos desafiantes que me permitan seguir creciendo profesionalmente y
      aplicar soluciones innovadoras.
    </p>
    <p>
      Me apasiona la <strong>optimización del rendimiento web</strong> y la creación de interfaces intuitivas
      que combinen estética y funcionalidad.
    </p>
  </div>
  <img
    class='size-64 object-cover rounded-xl shadow-md shadow-black/50 order-1 lg:order-2 lg:mb-0 lg:group-hover:contrast-125 transition-all'
    src={profileImage.src}
    loading='lazy'
    alt={personalImageAlt}
  />
</article>
