<div class='relative inline-flex overflow-hidden rounded-full p-[1px]'>
  <div
    class='absolute inset-[-1000%] animate-spin bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]'
  >
  </div>
  <span
    class='px-3 py-1 text-sm rounded-full bg-gray-100 dark:bg-gray-800 backdrop-blur-3xl transition-all'
  >
    <slot />
  </span>
</div>
