---
import MailIcon from '../icons/Mail.astro'
import PhoneIcon from '../icons/Phone.astro'
---

<footer
  class='opacity-80 text-xs mb-4 mt-24 lg:mt-32 flex flex-col items-center gap-2 lg:gap-4 justify-center lg:flex-row'
>
  <a
    href='tel:680367798'
    class='hover:text-blue-700 dark:hover:text-blue-300 flex items-center gap-1'
  >
    <PhoneIcon class='size-5' />
    <span>680367798</span>
  </a>
  <a
    href='mailto:david_miras@icloud.com'
    class='hover:text-blue-700 dark:hover:text-blue-300 flex items-center gap-1'
  >
    <MailIcon class='size-5 stroke-1' />
    <span>David_Miras@iCloud.com</span>
  </a>
</footer>
